body{
    margin: 0;
    padding: 0;
}
/* page1 */

.page1{
    height: 100%;
    width:100%;
    background: linear-gradient(to right, rgba(218, 228, 238, 0.719) 3%, rgba(241, 242, 245, 0.938) 62%, rgb(209, 227, 245) 70%);
    opacity: 2;
    overflow: hidden;
}
/* navbar */
.page1 img{
    position: absolute;
    /* transform: translate(-40%,-30%); */
    border-radius: 10px;
    color:rgb(153, 149, 165) ;
    box-shadow: .75em .75em 1em;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
.nav{
    display: flex;
    gap: 50px;
    padding-left:16rem;
}
.nav li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
}
.nav li a:hover{
    padding: 5px;
    text-decoration: underline;
    color: black;
    box-shadow:.60em .60em 1em ;
    transform: 1s ease;
}
nav ul{
    list-style: none;
    align-items: center;
}
nav ul li button{
    align-items: center;
    width: 200px;
    height: 100px;
    border: none;
    border-radius: 15px;
    margin-right: 30px;
    color: #fff;
    padding-left: 50px;
    background-color: rgba(40, 40, 185, 0.815);
}
nav ul li button:hover{
    background-color: #fff;
    color: black;
        box-shadow: .50em .50em 0.1em;
    }
/*end of navbar */
/* section1 */
.section1{
    padding-top:40px;
    margin-left: 50px;

}
#heading1{
    font-size: 25px;
    font-weight: bold;
    line-height:2px;
}
#heading2{
    color: blue;
    font-weight: 200;
    text-decoration: underline;
}
.section1 h1{
    font-size: 80px;
    color: rgba(0, 0, 0, 0.801);
}
#para{
    width:30rem;
    font-size: 30px;
}
.button1{
    display: flex;
    gap: 30px;
    margin-top: 20px;
    height: 50px;
    font-size: 20px;
    text-align: center;
}
.button1 button{
    border-radius: 20px;
    border: none;
    width: 200px;
    color:#fff;
    background-color: rgba(31, 31, 214, 0.911);
}
#but{
    width: 150px;
}
.button1 button:hover{
    color: black;
    background-color: #fff;
    box-shadow: .2em .2em 1em;
}
.section{
    display: flex;
    gap: 170px;

}
.section2{
    margin-right: 20px;
}
.part{
    padding-top: 40px;
}
.part1{
    text-align: center;
    font-size: 20px;
}
#span{
    color:blue;
    text-decoration: underline;
}
.card1{
    text-align: center;
    width: 150px;
}
.part2{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: ;
}
/* end of section1 */
/*  */

